Practica 1/P1_ToDo-Client-ws/src/main/wsdl/P1_ToDoClientService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.bigws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.bigws/" name="ToDoServicesService">
<types>
<xsd:schema>
<xsd:import namespace="http://server.bigws/" schemaLocation="ToDoAdmin.xsd"/>
</xsd:schema>
</types>
<message name="removeAll">
<part name="parameters" element="tns:removeAll"/>
</message>
<message name="removeAllResponse">
<part name="parameters" element="tns:removeAllResponse"/>
</message>
<message name="addTask">
<part name="parameters" element="tns:addTask"/>
</message>
<message name="addTaskResponse">
<part name="parameters" element="tns:addTaskResponse"/>
</message>
<message name="listTasks">
<part name="parameters" element="tns:listTasks"/>
</message>
<message name="listTasksResponse">
<part name="parameters" element="tns:listTasksResponse"/>
</message>
<message name="removeTask">
<part name="parameters" element="tns:removeTask"/>
</message>
<message name="removeTaskResponse">
<part name="parameters" element="tns:removeTaskResponse"/>
</message>
<portType name="ToDoServices">
<operation name="removeAll">
<input wsam:Action="http://server.bigws/ToDoServices/removeAllRequest" message="tns:removeAll"/>
<output wsam:Action="http://server.bigws/ToDoServices/removeAllResponse" message="tns:removeAllResponse"/>
</operation>
<operation name="addTask">
<input wsam:Action="http://server.bigws/ToDoServices/addTaskRequest" message="tns:addTask"/>
<output wsam:Action="http://server.bigws/ToDoServices/addTaskResponse" message="tns:addTaskResponse"/>
</operation>
<operation name="listTasks">
<input wsam:Action="http://server.bigws/ToDoServices/listTasksRequest" message="tns:listTasks"/>
<output wsam:Action="http://server.bigws/ToDoServices/listTasksResponse" message="tns:listTasksResponse"/>
</operation>
<operation name="removeTask">
<input wsam:Action="http://server.bigws/ToDoServices/removeTaskRequest" message="tns:removeTask"/>
<output wsam:Action="http://server.bigws/ToDoServices/removeTaskResponse" message="tns:removeTaskResponse"/>
</operation>
</portType>
<binding name="ToDoServicesPortBinding" type="tns:ToDoServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="removeAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addTask">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listTasks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeTask">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ToDoServicesService">
<port name="ToDoServicesPort" binding="tns:ToDoServicesPortBinding">
<soap:address location="http://localhost:8080/ToDoServer"/>
</port>
</service>
</definitions>