Practica 1/P1_ToDo-Client-ws/src/main/wsdl/ToDoAdmin.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. 
	RI's version is JAX-WS RI 2.2.8 svn-revision#13980. -->
<xs:schema xmlns:tns="http://server.bigws/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://server.bigws/">

	<xs:element name="listTasks" type="tns:listTasks" />
	<xs:element name="listTasksResponse" type="tns:listTasksResponse" />

	<xs:complexType name="listTasks">
		<xs:sequence>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="listTasksResponse">
		<xs:sequence>
			<xs:element name="return" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="removeTask" type="tns:removeTask"></xs:element>

	<xs:complexType name="removeTask">
		<xs:sequence>
			<xs:element name="arg0" type="xs:int"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="removeTaskResponse"
		type="tns:removeTaskResponse">
	</xs:element>

	<xs:complexType name="removeTaskResponse">
		<xs:sequence>
			<xs:element name="return" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="addTask" type="tns:addTask"></xs:element>

	<xs:element name="addTaskResponse" type="tns:addTaskResponse"></xs:element>
	
    <xs:complexType name="addTask">
    	<xs:sequence>
    		<xs:element name="arg0" type="xs:string"></xs:element>
    		<xs:element name="arg1" type="xs:string"></xs:element>
    		<xs:element name="arg2" type="xs:string"></xs:element>
    		<xs:element name="arg3" type="xs:int"></xs:element>
    	</xs:sequence>
    </xs:complexType>

    <xs:complexType name="addTaskResponse">
    	<xs:sequence>
    		<xs:element name="return" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
    	</xs:sequence>
    </xs:complexType>

    <xs:element name="removeAll" type="tns:removeAll"></xs:element>
    
    <xs:complexType name="removeAll"></xs:complexType>

    <xs:element name="removeAllResponse" type="tns:removeAllResponse"></xs:element>
    
    <xs:complexType name="removeAllResponse">
    	<xs:sequence>
    		<xs:element name="return" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
    	</xs:sequence>
    </xs:complexType>
</xs:schema>