Practica 1/P1_ToDo-Client-ws/src/main/wsdl/ToDoAdmin.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><xs:schema xmlns:tns="http://server.bigws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://server.bigws/">

<xs:element name="addTask" type="tns:addTask"/>

<xs:element name="addTaskResponse" type="tns:addTaskResponse"/>

<xs:element name="listTasks" type="tns:listTasks"/>

<xs:element name="listTasksResponse" type="tns:listTasksResponse"/>

<xs:element name="removeAll" type="tns:removeAll"/>

<xs:element name="removeAllResponse" type="tns:removeAllResponse"/>

<xs:element name="removeTask" type="tns:removeTask"/>

<xs:element name="removeTaskResponse" type="tns:removeTaskResponse"/>

<xs:complexType name="addTask">
<xs:sequence>
<xs:element name="arg0" type="tns:task" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="task">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="contexto" type="xs:string" minOccurs="0"/>
<xs:element name="projecto" type="xs:string" minOccurs="0"/>
<xs:element name="prioridad" type="xs:int"/>
<xs:element name="identificador" type="xs:int"/>
<xs:element name="context" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="priority" type="xs:int"/>
<xs:element name="project" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addTaskResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeTask">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeTaskResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeAll">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="removeAllResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listTasks">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listTasksResponse">
<xs:sequence>
<xs:element name="return" type="tns:taskList" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="taskList">
<xs:sequence>
<xs:element name="taskList" type="tns:task" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>